* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #1b1f23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #bbd35c;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #101315;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #000;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
